{% extends "base.html.twig" %}

{% block title %}Birks sida | MVC | Combat{% endblock %}

{% block body %}

<main>
    <div>
        <p>Hej</p>
        <a href="{{ path('combat') }}">Äventyr</a>
    </div>
</main>

{% endblock %}