{% extends "base.html.twig" %}

{% block title %}Birks sida | MVC | Combat{% endblock %}

{% block body %}

<main>
    <div>
        <p>Hero health: {{ player.health }}</p>
        <p>Enemy health: {{ enemy.health }}</p>
    </div>
</main>

{% endblock %}