* {
    color:white;
}

html {
    font-size: 100%;
}

body {
    background-color: #145a76;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    overflow-x: hidden;
}

body ul li {
    list-style-type: none;
}

body a {
    color: white;
    text-decoration: underline;
}

main {
    margin: 0 auto;
    background-color: #145a76;
    font-size: 1.4rem;
    color: white;
    max-width: 80%;
    min-height: 1200px;
    text-align: center;
}

main h1 {
    color: white;
    text-decoration: underline;
}

h1, h3 {
    font-family: 'Times New Roman', Times, serif;
}

h3 {
    text-decoration: underline;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    width: 100%;
    padding: 2rem;
    font-size: 2rem;
    border-bottom: 2px solid bisque;
    color: white;
    text-align: center;
    background: linear-gradient(skyblue, #145a76) !important;
}

header a {
    text-decoration: none;
}


.siteTitle {
    font-size: 2.4rem;
}

nav {
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.8rem;
}

nav a {
    padding: 0.4rem;
    padding-right: 1rem;
    border-right: solid white 2px;
    color: white;
}

nav a:last-child {
    border-right: none;
}

footer {
    text-align: center;
    min-height: 20rem;
    padding-top: 1.6rem;
    font-size: 1.2rem;
    color: white;
}

.meFigure {
    margin: 0 auto;
    width: 60rem;
}

.meImg {
    width: 100%;
    margin: 0;
    padding: 0;
}

.meCaption {
    margin-top: -0.4rem;
    padding: 0;
    border: 2px solid white;
    border-top: 0px;
}

.twoColLayout {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-height: 100%;
}

.leftCol {
    width: calc(24/23 * 100%);
    min-height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
}

.leftCol ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

.leftCol a {
    margin: 0 auto;
    color: white;
}

.tableList a {
    text-decoration: underline;
    margin-top: 5px;
    margin-bottom: 5px;
}

.rightCol {
    width: calc(24/2 * 100%);
    min-height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.rightCol a {
    color: white;
}

.gitDiv {
    border-bottom: 2px solid white;
}

.gitDiv .leftCol {
    width: calc(24/12 * 100%);
    min-height: 100%;
    padding-right: 2rem;
    padding-left: 0.5rem;
    border-right: 2px solid white;
}

.gitDiv .rightCol {
    width: calc(24/12 * 100%);
    min-height: 100%;
}

.gitDiv a {
    text-decoration: underline;
    font-size: 1.8rem;
}

.randImg {
    height: 500px;
    margin-bottom: 2rem;
}

.randomizeLucky {
    background-color: rgba(124, 255, 255, 0.863);
    font-size: 2.5rem;
    outline: 2px white solid;
    text-decoration: none;
}

.crazyText {
    font-size: 40px;
    background-color: azure;
    color: red;
}

.red {
    color: red
}

.orange {
    color: orange
}

.yellow {
    color: gold;
}

.green {
    color: green
}

.blue {
    color: blue
}

.indigo {
    color: indigo
}

.violet{
    color: violet
}

.large {
    font-size: 6rem;
    transition: font-size 1s, background-color 1s;
    background-color: white;
}

.small {
    font-size: 2rem;
    transition: font-size 1s, background-color 1s;
    background-color: black;
}

.♥️ {
    color: red;
    font-size: 8rem;
}

.♦️ {
    color: red;
    font-size: 8rem; 
}

.♣️ {
    color: black;
    font-size: 8rem;
}

.♠️ {
    color: black;
    font-size: 8rem;
}

.drawnCardsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50rem;
}

.cardResetFieldset {
    display: inline-block;
}

.apiList {
    list-style-type: none;
}

.flash-notice {
    margin: 0 auto;
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    max-width: 40rem;
}

.flash-notice:before {
    content: "ⓘ";
}

.rulesDiv {
    text-align: left;
}

.docBody {
    outline: 2px dotted white;
    text-align: left;
    padding: 5px;
}

.docBody > h2, h3 {
    text-align: center;
}

.playSpace {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.playerSpace, .bankSpace {
    min-width: 33%;
}

.cardSpace {
    border-left: 2px solid white;
    border-right: 2px solid white;
}

.formsDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    background-color: rgb(36, 54, 47);
    font-size: 2rem;
    color: white;
    outline: 1px solid white;
}

.gameIntroText {
    text-align: left;
}

.gameSelect {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flowchartDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.flowchart {
    height: 650px;
    width: 400px;
}

.kmom {
    text-align: left;
}

.kmom h3, 
h4 {
    text-align: center;
}

.upArrow {
    float: left;
}

.librarySubContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}

.bookDiv {
    display: flex;
    flex: 0 0 33.3333%;
    text-align: center;
}

.bookImage {
    width: 400px;
    height: 600px;
}

figcaption {
    font-style: italic;
    border: 2px solid white;
    border-top: none;
}

.bookFigCaption {
    margin-top: -6px;
    width: 396px;
}

.libraryIntroDiv li {
    margin-top: 20px;
    font-size: 30px;
}

.libraryFormContainer {
    margin-top: 40px;
    text-align: center;
}

.libraryForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.libraryInput {
    width: 500px;
    font-size: 1.6rem;
    margin-bottom: 16px;
}

.fileInputLabel {
    width: 180px;
}

.fileInput {
    padding: 0;
    width: 300px;
}

.librarySubmit {
    align-self: center;
    width: 30%;
    margin-top: 20px;
}

.leftColEven {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(1/2 * 100%);
    min-height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
}

.rightColEven {
    width: calc(1/2 * 100%);
    min-height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
}

.deleteForm {
    margin-top: 150px;
}

.delButton {
    background-color: darkred;
}