body {
    background-color: skyblue;
    margin: 0;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
}

body a {
    color: white;
}

main {
    margin: 0 auto;
    background-color: rgb(118, 199, 231);
    font-size: 1.4rem;
    color: white;
    max-width: 80%;
    min-height: 1200px;
    text-align: center;
}

main h1 {
    color: white;
    text-decoration: underline;
}

h1, h3 {
    font-family: 'Times New Roman', Times, serif;
}

header {
    font-family: 'Times New Roman', Times, serif;
    padding: 20px;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-bottom: 2px solid bisque;
    text-align: center;
    background: linear-gradient(azure, skyblue) !important;
}

.siteTitle {
    font-size: 2.4rem;
}

nav {
    margin: 0 auto;
    margin-top: 1rem;
    text-align: center;
    font-size: 1.8rem;
}

nav a {
    padding: 0.4rem;
    padding-right: 1rem;
    border-right: solid white 2px;
    color: white;
}

nav a:last-child {
    border-right: none;
}

footer {
    text-align: center;
    min-height: 20rem;
    padding-top: 1.6rem;
    font-size: 1.2rem;
}

.meFigure {
    margin: 0 auto;
    width: 60rem;
}

.meImg {
    width: 100%;
    margin: 0;
    padding: 0;
}

.meCaption {
    margin-top: -0.4rem;
    padding: 0;
    border: 2px solid white;
    border-top: 0px;
}

.twoColLayout {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    min-height: 100%;
}

.leftCol {
    width: calc(24/23 * 100%);
    min-height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin: 0 auto;
    border-right: 2px solid white;
    text-align: center;
}

.leftCol ul {
    padding: 0;
    list-style-type: none;
    text-align: center;
    margin: 0 auto;
}

.leftCol a {
    margin: 0 auto;
    color: white;
}

.rightCol {
    width: calc(24/2 * 100%);
    min-height: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

.rightCol a {
    color: white;
}

.gitDiv {
    border-bottom: 2px solid white;
}

.gitDiv .leftCol {
    width: calc(24/12 * 100%);
    min-height: 100%;
    padding-right: 20px;
    padding-left: 5px;
    border-right: 2px solid white;
}

.gitDiv .rightCol {
    width: calc(24/12 * 100%);
    min-height: 100%;
}

.randImg {
    height: 500px;
    margin-bottom: 20px;
}

.randomizeLucky {
    background-color: rgba(124, 255, 255, 0.863);
    font-size: 25px;
    outline: 2px white solid;
    text-decoration: none;
}

.crazyText {
    font-size: 40px;
    background-color: azure;
    color: red;
}

.red {
    color: red
}

.orange {
    color: orange
}

.yellow {
    color: gold;
}

.green {
    color: green
}

.blue {
    color: blue
}

.indigo {
    color: indigo
}

.violet{
    color: violet
}

.large {
    font-size: 60px;
    transition: font-size 1s, background-color 1s;
    background-color: white;
}

.small {
    font-size: 20px;
    transition: font-size 1s, background-color 1s;
    background-color: black;
}

.♥️ {
    color: red;
    font-size: 80px;
}

.♦️ {
    color: red;
    font-size: 80px; 
}

.♣️ {
    color: black;
    font-size: 80px;
}

.♠️ {
    color: black;
    font-size: 80px;
}

.drawnCardsDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 500px;
}

.cardResetFieldset {
    display: inline-block;
}

.apiList {
    list-style-type: none;
}

.flash-notice {
    margin: 0 auto;
    padding: 0.5em;
    color: #004085;
    background-color: #cce5ff;
    border-color: #b8daff;
    max-width: 400px;
}

.flash-notice:before {
    content: "ⓘ";
}
