{% extends "base.html.twig" %}

{% block title %}Birks Sida | MVC | About{% endblock %}

{% block body %}
<main>
    <div class="twoColLayout gitDiv">
        <div class="leftCol">
        <h1>Min Github</h1>
        <p>
            Min personliga Git repo finnes
            <a href="https://github.com/apalsnerg/MVC">här</a>
        </p>
        </div>
        <div class="rightCol">
        <h1>Kursens Github</h1>
        <p>
            Kursen MVCs github kan hittas
            <a href="https://github.com/dbwebb-se/mvc/tree/main">här.</a>
        </p>
        </div>
    </div>
    <div>
        <figure class="mvcImage">
            <img src="{{ asset('img/gitmeme.png') }}" alt="Repo disaster">
            <figcaption><i>En varning till de vårdslösa.</i></figcaption>
        </figure>
    </div>
</main>

{% endblock %}