{% extends "base.html.twig" %}

{% block title %}Birks Sida | MVC | Home{% endblock %}

{% block body %}
    <main>
        <div class="meDiv">
            <h1>Om mig själv</h1>
            <p>Hej och välkommen till min webbsida i kursen MVC!</p>
            <figure class="meFigure">
                <img src="{{ asset('img/me.jpg') }}" class="meImg" alt="Bild på mig">
                <figcaption class="meCaption">Riddare Birk i full fart</figcaption>
            </figure>
            <p>
                Mitt namn är Birk Höijer och jag studerar för närvarande vid Blekinge Tekniska Högskola under akronymet biho23.
                Jag är tjugofyra år ung och född den tjugoåttonde juni år 2000, klockan 02.46.
            </p>
            <p>
                Mina hobbyer och intressen, utöver programmering, innefattar datorspel, historia (med synnerlig fokus på militärlogistik), och bibelstudier.
                Därutöver har jag, något tvångsmässigt, en hobby som innebär att låta mina katter gosa med mig tills jag somnar.
                Till sist har jag en stor och oförklarlig fascination vid berg; de är nog en av de vakraste sakerna på denna vår jord.
            </p>
            <p>
                Jag bor hos min mor med våra två katter, Aethýleus och Bellatrix, som jag bägge älskar bortom det mesta.
                Förut har jag ägt ett marsvin, Razela, och en hund, Leya, som båda numera bor på den stora bondgården i himmelen.
            </p>
            <p>
                Om man ska rabbla lite kallfakta kan jag väl nämna att min favoritfärg är Tyrisk röd, 
                min favoritmat är varmrökt lax, och jag har en särskild begåvning vad gäller språk.
                I mina dagar har jag studerat Engelska, Spanska, Franska, Latin, och en gnutta Attisk Grekiska.
            </p>
            <p>Tack för mig!</p>
    </main>
{% endblock %}