{% extends 'base.html.twig' %}

{% block title %}Birks Sida | MVC | Skapa ny bok{% endblock %}

{% block body %}

<main>
    <div class="libraryFormContainer">
        <form method="post" action="{{ path('libraryCreate') }}" enctype="multipart/form-data">
            <div class="libraryForm">
                <label for="isbn">Bokens ISBN-13</label>
                <input type="text" id="isbn" name="isbn" class="libraryInput" required>
                <label for="title">Bokens titel</label>
                <input type="text" id="title" name="title" class="libraryInput" required>
                <label for="author">Skribent</label>
                <input type="author" id="author" name="author" class="libraryInput" required>
                <label for="file" class="fileInputLabel">Bild för boken</label>
                <input type="file" id="file" name="file" class="libraryInput fileInput">
                <button type="submit" value="Submit" class="librarySubmit button">Lägg till bok</button>
            </div>
        </form>
    </div>
</main>

{% endblock %}
